#con8 {
    background-color: rgb(236, 236, 236);
    /* padding: 30px; */
    font-family: sans-serif;
    height: auto;
    width: 100%;
    display: flex;


}

#con9 {
    border-radius: 5px;
    width: 55%;
    height: 250px;
    box-sizing: border-box;
    padding: 10px 25px;
    background-color: white;
   
    box-shadow: rgba(100, 100, 111, 0.2)0px 7px 29px 0px;
    margin-left: 10%;
    

}

#con10 {
    height: 310px;
    width: 22%;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2)0px 7px 29px 0px;
    margin-left: 30px;
    background-color: white;
    padding: 15px;
   
    margin-left: 30px;
   
    box-sizing: border-box;
}

#con10>div {
    display: flex;
    padding: 0px 10px;
    font-size: 14px;
    color: grey;
}

#circle {
    height: 25px;
    width: 25px;
    box-sizing: border-box;
    padding: 1px 4px;
    font-size: 17px;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 50%;
    margin-top: 20px;

}

#pinkcircle {
    height: 22px;
    width: 22px;
    box-sizing: border-box;
    padding: 0% 3px;
    font-size: 15px;
    font-weight: bold;
    border: 0.5px solid grey;
    border-radius: 50%;
    margin-top: 20px;

}

.homeadd h5 {
    padding-left: 10px;
    margin-top: 25px;

    margin-bottom: 0px;
}

.homeadd p {
    font-size: 14px;
    margin-top: 3px;
    margin-left: 8px;
    line-height: 22px;
}

#circle+h4 {
    padding-left: 10px;
    margin-top: 25px;


}

#topiv {
    display: flex;
    justify-content: space-between;
}

.newadd {
    color: crimson;
    font-size: 15px;
}

#Home+h5 {
    margin-top: 5%;
}

#Home {
    margin-top: 5%;

}

.checBox {
    border-radius: 50%;
    width: 50px;
    cursor: pointer;
    margin-left: 0vh;
}

#sav {
    background-color: rgb(255, 23, 68);
    color: white;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-left: 81%;
    font-size: 14px;


}

/* #lasDiv {
    display: flex;
    justify-content: space-between;
border: 1px solid red;
    margin-top: 50px;
} */

.box13 {
    display: flex;
    justify-content: space-between;
    line-height: 10px;

}

.box23 {
    display: flex;
    justify-content: space-between;
    line-height: 10px;

}

.box33 {
    display: flex;
    justify-content: space-between;
    line-height: 10px;
}

.box43 {
    display: flex;
    justify-content: space-between;
    line-height: 10px;

}

.box5 {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    margin-top: 20px;
}

p,
span {
    font-family: sans-serif;
}

#con8+span {
    margin-left: 67.5%;
    font-family: sans-serif;
    margin-top: 20px;
}