 
    #navbar{
        width: 100vw;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    #headermain{
        display: flex;
        width: 100%;
        height:100px;
    }
    #left{
        width: 25%;
        background:#212121 ;
    }
    #tataicon{
        margin-left:35%;
    }
    #right{
        width: 75%;
    }
    #top{
        display: flex;
        height: 40%;
        background: #000000;
        color: white;
        justify-content: space-around;
        font-size: 12px;
        font-weight: bold;
    }
    #topleft{
      width: 20%;
      padding: 10px;
      margin-left: 0px;
      cursor: pointer;
    }
     #topright{
      width: 50%;
      display: flex;
      justify-content: space-around;
      padding: 10px;
      cursor: pointer;
    } 
    #buttom{
        display: flex;
        height: 60%;
        background:#212121 ;
        color: white;
        font-weight: bold;
    }
    #buttomleft{
        display: flex;
        width: 40%;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
    }
    #buttomright{
        display: flex;
        width: 60%;
        align-items: center;
        margin-left: 30%;
        cursor: pointer;
    }
    #buttomright>div{
        padding-left: 30px;
    }
    #searchbar{
        background: #212121;
        border: none;
        border-bottom: 1px solid #fff;
        color: white;
    }
    #categories:hover,#brands:hover{
        background-color: white;
        color: black;
    }
    #categories,#brands{
        display: flex;
        height: 100%;
        width: 130px;
        justify-content: center;
        
    }
    .fa-angle-down{
      font-size: 20px;
    }
    .fa-search{
        font-size:20px ;
    }
    .fa-bookmark{
        font-size: 20px;
    }
    .fa-shopping-bag{
        font-size: 20px;
    }

    #brand,#category{
            /* border: 1px solid black; */
            position: absolute;
            width: 1000px;
            height: 540px;
            display: none;
            margin-left: 24%;
        }
        .catTitle{
            width: 250px;
            height: 100%;
            margin-left: 20px;
            /* border: 1px solid red; */
        }
        .catHead{
            font-family: sans-serif;
            font-size: 17px;
            color:gray;
            margin-top: 22px;
            margin-bottom: 22px;
        }
        .catHead:hover{
            color: black;
            cursor: pointer;
        }
        #items{
            /* border: 1px solid blue; */
            width: 720px;
            margin-left: 30px;
            display: flex;
        }
        .catList{
            /* border: 1px solid red; */
            width: 200px;
            font-family: sans-serif;
            color: gray;
            font-weight:lighter;
            line-height: 35px;
        }
        .catList>h4{

            color: black;

            margin-bottom: 0px;
            margin-top: 5px;
        }
        #imgDiv{
            /* border: 1px solid blue; */
            width: 100%;
            height: 65%;
            margin-top: 30%;
            display: grid;
            grid-template-columns: repeat(2,auto);
            background-color: rgb(239, 243, 245);
        }
        #imgDiv>img{
            border-radius: 50%;
            margin-left: 20px;
        }

        .signup {
            height: 320px;
            width: 200px;
            border: 1px solid 
            transparent;
            display: none;
            /* border: 1px solid blue; */
            justify-content: center;
            align-items: center;
            position: absolute;
            margin-left: 55%;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }

        .signup>:nth-child(1) {

            background-color: red;
            border-radius: 30px;
            height: 30px;
            color: white;
            display: flex;
            text-align: center;
            
            
        }
        .signup>:nth-child(1)>p{
            color: white;
            margin-left: 33px;
        }

        .signup>div {
            width: 180px;
            height: 40px;
            border: 1px solid 
            transparent;
            display: flex;
            align-items: center;

        }
        .signup>p{
            padding-left: 10px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-style: normal;
            font-size: 18px;
            color: #212121;
        }
        .signup>div>p{
            color: black;
            font-weight: lighter;
        }
        .signup>div>img {
            height: 25px;
            width: 20px;
            margin-right: 10px;
            margin-left:10px;
        }
        #main {
            margin: 0vh;
        }

        #top>img {
            height: 500px;
            width: 100%;
            border: 1px solid transparent;
        }

        #main img:hover {
            cursor: pointer;
        }
        #bottom {
            height: 200px;
            width: 100%;
            border: 1px solid transparent;
            background-color: #ececec;
            display: grid;

            grid-template-columns: repeat(12, 1fr);
            justify-content: center;
            align-items: center;
            grid-gap: 5px;

        }
        #bottom>img {
            width: 160px;
        }