#container {
    /* border: 1px solid black; */

    width: 100%;
    height: 700px;
    font-family: arial;
    background: whitesmoke;
  }
  #topbar {
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-around;
    height: 80px;
    background-color: white;
  }
  #addressdiv {
    /* border: 1px solid green; */
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: end;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  #addressdiv > div {
    margin-right: 10px;
  }
  #bagtext {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
  }
  #contentdiv {
    /* border: 1px solid red; */
    margin-left: 8%;
    margin-right: 8%;
    overflow: scroll;
    scroll-behavior: smooth;
    height: 88%;
    background: whitesmoke;
  }
  #linetext {
    display: flex;
    /* border: 1px solid black; */
    height: 50px;
    align-items: center;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #itemdiv {
    /* border: 1px solid green; */
    width: 70%;
    height: 400px;
  }
  #summarydiv {
    /* border: 1px solid red; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    
    width: 28%;
    margin-left: 2%;
    /* height: 300px; */
  }
  #itemcontainer {
    /* border: 1px solid brown; */
    height: 260px;

    margin-bottom: 2%;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
  }
  #item {
    width: 100%;
    /* border: 1px solid black; */
    height: 250px;
    display: flex;
  }
  #maincontent {
    display: flex;
    background: whitesmoke;
    
  }
  #item > div > img {
    height: 83%;
    margin-left: 25px;
    margin-top: 15px;
    border-radius: 5px;
  }
  #item > div {
    font-size: 15px;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #item > :last-child {
    display: flex;
    width: 80%;
    margin-top: 10px;
    height: 90%;
    /* border: 1px solid red; */
    margin-left: 2%;
  }
  #itemdetails {
    width: 51%;
    height: 100%;
    line-height: 100%;
    /* border: 1px solid black; */
  }
  #truckicon {
    width: 48%;
    height: 100%;
    /* border: 1px solid black; */
  }
  .flex {
    display: flex;
  }
  .truckimage {
    height: 40px;
    margin-left: 2%;
    margin-top: 2%;
  }
  #coupon {
    /* border: 1px solid blue; */
    height: 60px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
  }
  #voucher {
    height: 90%;
  }
  #coupon {
    margin: auto;
    display: flex;
  }
  #coupon > div {
    /* border: 1px solid red; */
    width: 85%;
    height: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .linebelow {
    /* border: 1px solid red; */
  }
  .linebelow > p {
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: lighter;
    font-size: 14px;
  }
  .linebelow > hr {
    margin-top: 5px;
    border: 0.1px solid rgb(138, 135, 135);
  }
  #summarydiv {
    /* background-color: white; */
    border-radius: 5px;
    /* border: 1px solid red; */
    margin-bottom: 0px;

  }
  #summary {
    /* border: 1px solid brown; */
    height: 300px;
    /* display: flex; */
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 400;
    background-color: white;
    
    margin-top: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  #summary > div {
    /* border: 1px solid red; */
    width: 85%;
    height: 85%;
    margin: auto;
    margin-top: 20px;
    /* display: flex; */
    justify-content: space-between;
  }
  #congrats {
    /* border: 1px solid blue; */
    width: 100%;
    height: 20%;
    display: flex;
  }
  #congrats > img {
    height: 50%;
    margin-top: 2%;
    margin-right: 4%;
  }
  #congrats > p {
    font-size: 14px;
    margin-top: 6px;
  }
  #billing {
    /* border: 1px solid black; */
    height: 80%;
    color: rgb(78, 77, 77);
    font-size: 14px;
  }
  #billing > hr {
    margin-top: 0px;
  }
  #billing > div {
    /* border: 1px solid green; */
    height: 15%;
    display: flex;
    justify-content: space-between;
  }
  #billing > :nth-child(2) {
    margin-top: 10%;
  }
  #billing > div > :last-child {
    font-weight: lighter;
  }
  #checkoutbox {
    /* border: 1px solid; */
    display: flex;
    width: 85%;
    margin: auto;
    margin-top: 0px;
    justify-content: space-between;
  }
  #checkoutbox > div {
    /* border: 1px solid; */
    /* height: auto; */
  }
  #checkoutbox > div > h3 {
    margin-bottom: 0px;
  }
  #checkoutbox > div > p {
    margin-top: 0px;
  }
  #checkoutbox > :last-child {
    display: flex;
    align-content: center;
    width: 55%;
  }
  #checkoutbox > :last-child > button {
    border-radius: 20px;
    height: 55%;
    width: 100%;
    font-size: 14px;
    font-weight: bolder;
    color: white;
   
    background: red;
    border: none;
    margin-top: 10%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  #checkoutbox > :last-child > button:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  #sectagline {
    /* border: 1px solid purple; */
    margin-left: 74%;
    
    width: 300px;
    font-size: 15px;
    color: rgb(78, 77, 77);
    display: flex;
    margin-top: 0px;
  }
  #sectagline > img {
    height: 25px;
    margin-right: 4%;
    margin-top: 6%;
  }