#checkouter {
    height: auto;
    width: 100%;
    border: 0px solid transparent;
    background-color: #ececec;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#checkouter img,
h2,
p,
input:hover {
    cursor: pointer;
}

#checkinner {
    height: auto;
    width: 80%;
    border: 0px solid transparent;
    margin: auto;


}

#checkinner .div1 h4 {
    font-size: 15px;
}

#checkinner .div1 p {
    font-size: 12px;
}

#checkinner .div1 span {
    font-size: 14px;
}

#check1 {
    display: flex;
    justify-content: space-between;
}

#check1left {
    height: auto;
    width: 65%;
    border: 1px solid transparent;
}

#check1left>div {

    padding: 5px;

}

#check1right {
    height: auto;
    width: 30%;
    border: 0px solid transparent;
}

#check1left>.div1 {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    border: 0px solid transparent;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 5px;
}

#check1left>.div1>div {

    border: 1px solid transparent;
    box-sizing: border-box;
}

#check1left>.div1>.left {
    width: 80%;
}

#checkouter .left>div {
    display: flex;
    padding-left: 20px;


}

#checkouter .right>p {
    font-size: 12px;
    padding-bottom: 5px;
    display: inline;
    border-bottom: 1px solid gray;

}

#checkouter .right {
    text-align: right;
    padding-top: 17px;
    padding-right: 15px;

}

hr {
    margin: 10px 35px;

}

#check1left>.div2 {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    border: 1px solid transparent;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div2_inner {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;

}

.div2_inner>div {
    width: 50%;
    border: 1px solid transparent;
    /* box-sizing: border-box; */

}

.div2_inner>:nth-child(1)>img {
    height: 30px;
    width: 30px;
    padding-left: 20px;

}

.div2_inner img+span {
    padding-top: 7px;
    padding-left: 10px;
    font-size: 14px;


}

#check1right>div {
    background-color: #ffffff;
    color: #4e4e51;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 5px;
}

#check1right p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.check {
    margin-top: 25px;
}

#pay3 {
    border: 2px solid black;
    height: 30px;
    width: 30px;
    padding-left: 7px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    margin-left: 10px;
}
#debit{
    padding: 0px 35px;
    
    
}
#debit>div{
    display: flex;
    justify-content: space-between;    
}
#card_nbr,#name{
 width: 50%;
 height: 25px;
 margin: 10px 0px;
}
#cvv{
    width: 25%;
 height: 25px;
 margin: 10px 0px;
}
button{
    background-color:hotpink ;
    border: none;
    color: white;
    font-weight: bold;
    width: 18%;
    margin: 10px 0px;
    padding: 10px 10px;
    border-radius: 20px;

}
select{
  padding: 7px 15px;
  margin-top: 9px;
}