body{
    background-color: #ececec;
}
*{
    box-sizing: border-box;
}
.head{
    width: 40%;
    margin: auto;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: sans-serif;
}
#casual_shoe{
    font-size: 30px;
    color: black;
    font-weight: bold;
}
#total_prod{
    font-size: 18px;
}
.navmenu{
    width: 100%;
    margin-top: 105px;
    margin-bottom: 8px;
}
.navmenu ol li{
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    color: #4a4a4a;
    text-align: center;
}
.hover::after{
    content: ">";
}
.hover:hover{
    color: crimson;
}
#product_body{
    width: 100%;
    height: 500px;
    display: flex;
    height: auto;
    margin-bottom: 15px;
}
.left_box{
   width: 20%;
   margin-left: 30px;
   border-radius: 10px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   padding: 0px 4px;
   background-color: white;
   font-family:  sans-serif;
   height: 1800px;
}
.right_box{
   width: 75%;
   margin-left: 30px;
}
.first_row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    height:40px ;   
    border-radius: 10px;
    margin-left: 0px;
    background-color: #ececec;
}
.first_row>div{
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}
.first_row>div:nth-child(2n){
    color: crimson;
}
.row{
    padding-left: 10px;
    margin-bottom: 10px;
}

.row>p{
   padding-left: 18px;
   display: inline;
   background-color: #ececec;
   border-radius: 50px;
   padding: 5px;
}
.item{
   display: flex;
   justify-content: space-between;
   padding: 0px 5px;
}

.right_box{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   /* grid-template-rows: 400px; */
   grid-gap: 10px;
   height: 1800px;
   overflow: scroll;
}
.right_box>div{
   width:235px;
   height: auto;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   line-height: 10px;
}
.right_box>div>img{
   width: 100%;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.right_box>div>img:hover{
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.right_box>div>p,span{
   padding-left: 5px;
   font-weight: 300;
}
.right_box>div>:nth-child(2){
    font-weight: normal;
}
.right_box>div>span:nth-child(2n){
   margin-left: 4px;
   text-decoration: line-through;
   color:#9b9b9b;
}
#first_btn{
   display: block;
   margin-top: 5px;
   background-color: darkgreen;
   border: transparent;
   outline: none;
   margin-left: 5px;
   margin-bottom: 5px;
   color: white;
}
#second_btn{
    margin-left: 60px;
    background-color: darkgoldenrod;
    border: transparent;
    outline: none;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: white;
    font-size: 10px;
}
#sort{
   display: flex;
   justify-content: space-between;
   width: 25%;
   border:1px solid #9b9b9b ;
   height: 40px;
   float: right;
   margin-right: 90px;
   line-height: 35px;
   padding-left: 8px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#left{
    color:#9b9b9b
}
#right{
    font-size: 18px;
}
#choose{
    border:none;
    background: transparent;
    margin-right: 130px;
}
.right>img{
    margin-right: 5px;
}
#footer1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: rgb(245, 235, 235);
    margin-left: 5%;
    margin-right: 5%;

}
.footer1a{
    width: 188px;
    height: 80px;
    
    font-size: 13px;
    font-weight: 600;
    color: #212121;
   text-align: center;
   margin-top: 40px;
    padding: 0px 0px 0px 15px;
    
    
    
}
#footer2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
   
}
#footer_main{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer2a{
    width: 222px;
    height: 400px;
  color: #212121;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footerp{
    font-size: 12px;
    font-weight: lighter;
    cursor: pointer;
    font-weight: 100;
    color: #4e4b4b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#footer3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(245, 235, 235);
    margin-left: 4%;
    margin-right: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer3a{
    width: 440px;
    height: 40px;
    
    font-size: 15px;
    padding-top: 10px;
    color: #212121;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
.footerimg{
    width: 20px;
    height: 20px;
    
    cursor: pointer;
}
.footer4{
    line-height: 25px;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer5{
    margin-left: 4%;
    margin-right: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media only screen and (min-width: 375px) and (max-width:1300px){
    #footer2{
        grid-template-columns: repeat(4,1fr);
    }
}

/* header css */

#headermain{
    display: flex;
    width: 100%;
    height:100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#left{
    width: 25%;
    background:#212121 ;
}
#tataicon{
    margin-left:35%;
    height: 90%;
    width: 40%;
}
#right{
    width: 75%;
}
#top{
    display: flex;
    height: 40%;
    background: #000000;
    color: white;
    justify-content: space-around;
    font-size: 12px;
    font-weight: bold;
}
#topleft{
  width: 20%;
  padding: 10px;
  margin-left: 0px;
  cursor: pointer;
}
 #topright{
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  cursor: pointer;
  align-items: center;
} 
#buttom{
    display: flex;
    height: 60%;
    background:#212121 ;
    color: white;
    font-weight: bold;
}
#buttomleft{
    display: flex;
    width: 40%;
    /* justify-content: space-around; */
    align-items: center;
    cursor: pointer;
}
#buttomright{
    display: flex;
    width: 60%;
    align-items: center;
    margin-left: 30%;
    cursor: pointer;
}
#buttomright>div{
    padding-left: 30px;
}
#searchbar{
    background: #212121;
    border: none;
    border-bottom: 1px solid #fff;
    color: white;
}
.fa-angle-down{
  font-size: 20px;
}
.fa-search{
    font-size:20px ;
}
.fa-bookmark{
    font-size: 20px;
}
.fa-shopping-bag{
    font-size: 20px;
}


/* brand and category */


#categories:hover,
#brands:hover {
background-color: white;
color: black;
}
#categories,
#brands {
display: flex;
height: 100%;
width: 130px;
justify-content: center;

}
.fa-angle-down {
font-size: 20px;
/* border: 1px solid; */
height: 30px;
margin-top: 18px;
}
.fa-search {
font-size: 20px;
}
.fa-bookmark {
font-size: 20px;
}
.fa-shopping-bag {
font-size: 20px;
}

#brand,
#category {
/* border: 1px solid black; */
position: absolute;
width: 1000px;
height: 540px;
display: none;
margin-left: 24%;
background-color: white;
}
.catTitle {
width: 250px;
height: 100%;
margin-left: 20px;
/* border: 1px solid red; */
}
.catHead {
font-family: sans-serif;
font-size: 17px;
color: gray;
margin-top: 22px;
margin-bottom: 22px;
}
.catHead:hover {
color: black;
cursor: pointer;
}
#items {
/* border: 1px solid blue; */
width: 720px;
margin-left: 30px;
display: flex;
}
.catList {
/* border: 1px solid red; */
width: 200px;
font-family: sans-serif;
color: gray;
font-weight: lighter;
line-height: 35px;
}
.catList > h4 {
color: black;

margin-bottom: 0px;
margin-top: 5px;
}
#imgDiv {
/* border: 1px solid blue; */
width: 100%;
height: 65%;
margin-top: 30%;
display: grid;
grid-template-columns: repeat(2, auto);
background-color: rgb(239, 243, 245);
}
#imgDiv > img {
border-radius: 50%;
margin-left: 20px;
}

.signup {
height: 240px;
width: 200px;
border: 1px solid transparent;
display: none;
/* border: 1px solid blue; */
justify-content: center;
align-items: center;
position: absolute;
margin-left: 55%;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* .signup > :nth-child(1) {
background-color: red;
border-radius: 30px;
height: 30px;
color: white;
display: flex;
text-align: center;
} */


.signup > div {
width: 180px;
height: 40px;
border: 1px solid transparent;
display: flex;
align-items: center;
}
.signup > p {
padding-left: 10px;
font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
font-style: normal;
font-size: 18px;
color: #212121;
}
.signup > div > p {
color: black;
font-weight: lighter;
}
.signup > div > img {
height: 25px;
width: 20px;
margin-right: 10px;
margin-left: 10px;
}