body{
    background-color: #ececec;
}
*{
    box-sizing: border-box;
}
.head{
    width: 40%;
    margin: auto;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
}
#casual_shoe{
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-family: regular;
}
#total_prod{
    font-size: 18px;
    font-family: regular;
}
.navmenu{
    width: 100%;
    margin-top: 105px;
    margin-bottom: 8px;
}
.navmenu ol li{
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    color: #4a4a4a;
    text-align: center;
}
.hover::after{
    content: ">";
}
.hover:hover{
    color: crimson;
}
#product_body{
    width: 100%;
    height: 500px;
    display: flex;
    height: auto;
    margin-bottom: 15px;
}
.left_box{
   width: 20%;
   margin-left: 30px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   padding: 0px 4px;
   background-color: white;
}
.right_box{
   width: 75%;
   margin-left: 30px;
}
.first_row{
    display: flex;
    justify-content: space-between;
    height: 30px;
    background-color: #ececec;
}
.first_row>div{
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}
.first_row>div:nth-child(2n){
    color: crimson;
}
.row{
    padding-left: 10px;
    margin-bottom: 10px;
}
.row>h4{
    font-size: 19px;
}
.row>p{
   padding-left: 18px;
   display: inline;
   background-color: #ececec;
   border-radius: 50px;
   padding: 5px;
}
.item{
   display: flex;
   justify-content: space-between;
   padding: 0px 5px;
}
.item>p{
   font-weight: bold;
}
.right_box{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-template-rows: 400px;
   grid-gap: 5px;
   height: auto;
}
.right_box>div{
   width:230px;
   height: 400px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.right_box>div>img{
   width: 230px;
   height: 230px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   padding: 0px 5px;
}
.right_box>div>img:hover{
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.right_box>div>p,span{
   padding-left: 5px;
}
.right_box>div>span:nth-child(2n){
   margin-left: 4px;
   text-decoration: line-through;
   color:#9b9b9b;
}
.right_box>div>button{
   display: block;
   margin-top: 5px;
   background-color: darkgreen;
   border: transparent;
   outline: none;
   margin-left: 5px;
   margin-bottom: 5px;
}
#sort{
   display: flex;
   justify-content: space-between;
   width: 25%;
   border:1px solid #9b9b9b ;
   height: 40px;
   float: right;
   margin-right: 90px;
   line-height: 35px;
   padding-left: 8px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#left{
    color:#9b9b9b
}
#right{
    font-size: 18px;
}
.right>img{
    margin-right: 5px;
}
#footer1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: rgb(245, 235, 235);
    margin-left: 5%;
    margin-right: 5%;

}
.footer1a{
    width: 188px;
    height: 80px;
    
    font-size: 13px;
    font-weight: 600;
    color: #212121;
   text-align: center;
   margin-top: 40px;
    padding: 0px 0px 0px 15px;
    
    
    
}
#footer2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
   
}
.footer2a{
    width: 222px;
    height: 400px;
  color: #212121;
}
.footerp{
    font-size: 12px;
    font-weight: lighter;
    cursor: pointer;
    font-weight: 100;
    color: #4e4b4b;
    
}
#footer3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(245, 235, 235);
    margin-left: 4%;
    margin-right: 5%;
}
.footer3a{
    width: 440px;
    height: 40px;
    
    font-size: 15px;
    padding-top: 10px;
    color: #212121;
   
   
}
.footerimg{
    width: 20px;
    height: 20px;
    
    cursor: pointer;
}
.footer4{
    line-height: 25px;
    font-size: 13px;
}
.footer5{
    margin-left: 4%;
    margin-right: 5%;
}
@media only screen and (min-width: 375px) and (max-width:1300px){
    #footer2{
        grid-template-columns: repeat(4,1fr);
    }
}